# Entornos virtuales
venv/
.venv/
env/
ENV/

# Caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Variables de entorno y llaves de API
.env

# IDEs
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db
